!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv':'Content-Type'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %title= t('site_name')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render partial: 'layouts/header'
    = render partial: 'shared/flash_messages'
    .site_content
      = yield
    = render partial: 'layouts/footer'

    // Include JS scripts
    %script(src='https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

  

    
